<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

<context:property-placeholder location="classpath:datosEmpresa.properties"/>

<!-- creación de la dependencia -->
<bean id="miInforme" class="es.spring.example.Informe"></bean>

<!-- <bean id="miEmpleado" class="es.spring.example.DirectorEmpleado">	 -->
<!-- 	<constructor-arg ref="miInforme"></constructor-arg> -->
<!-- </bean> -->

<bean id="miEmpleado" class="es.spring.example.JefeEmpleado">	
	<constructor-arg ref="miInforme"></constructor-arg>
	
	<property name="email" value="${email}"></property>
	<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
</bean>

<bean id="miSecretarioEmpleado" class="es.spring.example.SecretarioEmpleado">
	<!-- debe tener el mismo nombre que el setter del SecretarioEmpleado, sin la palabra set, la primera letra en mínuscula -->
	<property name="informeNuevo" ref="miInforme"></property>
	
	<property name="email" value="secretaria@gmail.com"></property>
	<property name="nombreEmpresa" value="Empresa S.A"></property>
</bean>

</beans>